[submodule "SRL"]
	path = SRL
	url = https://github.com/ljishen/SRL.git
[submodule "bioapi-examples"]
	path = bioapi-examples
	url = https://github.com/david4096/bioapi-examples
[submodule "ga4gh-testing"]
	path = ga4gh-testing
	url = https://github.com/ljishen/ga4gh-testing.git
