[submodule "ga4gh-testing"]
	path = ga4gh-testing
	url = https://github.com/ljishen/ga4gh-testing.git
[submodule "server"]
	path = server
	url = git@github.com:ga4gh/server.git
[submodule "schemas"]
	path = schemas
	url = git@github.com:ga4gh/schemas.git
[submodule "compliance"]
	path = compliance
	url = git@github.com:ga4gh/compliance.git
[submodule "ga4gh-catalog"]
	path = ga4gh-catalog
	url = git@github.com:david4096/ga4gh-catalog.git
[submodule "Beacon-on-GA4GH-API"]
	path = Beacon-on-GA4GH-API
	url = git@github.com:kozbo/Beacon-on-GA4GH-API.git
[submodule "vcf-to-ga"]
	path = vcf-to-ga
	url = git@github.com:BD2KGenomics/vcf-to-ga.git
[submodule "bioapi-examples"]
	path = bioapi-examples
	url = git@github.com:BD2KGenomics/bioapi-examples.git
[submodule "ga4gh-gemini"]
	path = ga4gh-gemini
	url = git@github.com:BD2KGenomics/ga4gh-gemini.git
[submodule "23andMe-brca-exchange"]
	path = 23andMe-brca-exchange
	url = git@github.com:BD2KGenomics/23andMe-brca-exchange.git
[submodule "treehouse-ga4gh"]
	path = treehouse-ga4gh
	url = git@github.com:UCSC-Treehouse/ga4gh.git
